/* ! Reset */
body,
html {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: rgba(66, 61, 61, 0.186);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

img {
    height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
    padding: 10px;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Container all */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

/******* Stylize card ********/
/* Card */
.card {
    width: max-content;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-400%);
    }
}


.toggle-active {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    position: fixed;
}

.two {
    position: fixed;
}

.three {
    position: fixed;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
}

/*** MAIN ***/

/* Quiz container */
.container-quiz {
    padding: 5px;
}

label {
    display: block;
    margin: 5px;
}

/* Button container */

.container-button {
    padding: 10px;
}

.container-button button {
    border: none;
    border-radius: 5px;
    background-color: #7294b7;
    color: white;
    padding: 13px;
    font-size: 17px;
    cursor: pointer;
}

.container-button a {
    color: white;
}

.container-button button:active {
    background-color: #527aa2;
}


/* Footer */
footer {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    text-align: center;
    background-color: rgb(207, 202, 202);
}

footer a {
    color: black;
    transition: 0.3s;
    font-weight: 700;
}

footer a:hover {
    color: #263238;
    transition: 0.3s;
}